<div class="page">

    <div class="row">
        <div class="col-md-8">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Appliance Type</strong>
                </div>

                <div class="panel-body">
                    <form name="form_constraints" class="form-validation" novalidate data-ng-submit="submitForm()">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name</label>
                            <input type="text" class="form-control" ng-model="appliancetype.name" placeholder="Name" disabled>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Abbreviation</label>
                            <input type="text" class="form-control" ng-model="appliancetype.abbreviation" placeholder="Abbreviation" disabled>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Brand</label>
                            <div>
                                <select ng-model="appliancetype.brand" disabled>
                                    <option value="">Select Brand</option>
                                    <option ng-repeat="value in brand" value="{{value.id}}">{{value.name}}</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" ng-click="delete(appliancetype)" class="btn btn-primary">Delete</button>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>