<div class="page">

    <div class="row">
        <div class="col-md-8">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Appliance</strong>
                </div>

                <div class="panel-body">
                    <div class="msg"> </div>
                    <form name="form_constraints" class="form-validation" novalidate data-ng-submit="submitForm()">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name</label>
                            <input type="text" class="form-control" ng-model="appliance.name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Model Number</label>
                            <input type="text" class="form-control" ng-model="appliance.modelnumber" placeholder="Model Number">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Serial Number</label>
                            <input type="text" class="form-control" ng-model="appliance.serialnumber" placeholder="Serial Number">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Appliance Type</label>
                            <div>
                                <select ng-model="appliance.appliancetype">
                                    <option value="" selected>Select Appliance Type</option>
                                    <option ng-repeat="value in appliancetype" value="{{value.id}}">{{value.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Brand</label>
                            <div>
                                <select ng-model="appliance.brand">
                                    <option value="" selected>Select Brand</option>
                                    <option ng-repeat="value in brand" value="{{value.id}}">{{value.name}}</option>
                                </select>
                            </div>
                        </div>
                         <div class="form-group">
                            <label for="exampleInputEmail1">Image</label>
                        </div>
                        <div class="col-md-12">
                            <div ng-repeat="bill in appliance.billimage">
                                <img style="width:200px;height:190px;" src="http://localhost/applionbackendbyavi/uploads/{{bill}}">
                                <input type="button" ng-click="removeimage(appliance.billimage.indexOf(bill));" value="DELETE" class="bt btn-danger">
                            </div>
                        </div>
                        <div class="upload-div">
                            <div ng-init="httpMethod = 'POST';howToSend = 1;"></div>
                            <div class="upload-buttons">
                                <input type="file" ng-file-select="onFileSelect($files)" onclick="this.value=null" multiple>
                            </div>
<!--
                            <div ng-show="dropSupported" class="drop-box" ng-file-drop="onFileSelect($files)" ng-file-drop-available="dropSupported=true" ng-file-drag-over-class="dragOverClass($event)" ng-file-drag-over-delay="100" style="height:250px;">Drop Files Here
                                <center>
                                    <div ng-show="selectedFiles != null">
                                        <div class="sel-file center">
                                            <div ng-repeat="f in selectedFiles">
                                                <img style="float:left;height:190px;" ng-show="dataUrls[$index]" ng-src="{{dataUrls[$index]}}">
                                            </div>
                                        </div>
                                    </div>
                                </center>
-->
<!--
                            </div>
                            <div ng-show="!dropSupported">HTML5 Drop File is not supported on this browser</div>
                            <div class="err" ng-show="errorMsg != null">{{errorMsg}}</div>
-->

                            <div class="response" ng-show="uploadResult.length > 0">
                                <span ng-repeat="result in uploadResult">
                                        <div ng-init="">
                                        {{result}}
                                        </div>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">User</label>
                            <div>
                                <select ng-model="appliance.user">
                                    <option value="" selected>Select User</option>
                                    <option ng-repeat="value in user" value="{{value.id}}">{{value.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Store</label>
                            <div>
                                <select ng-model="appliance.store">
                                    <option value="" selected>Select Store</option>
                                    <option ng-repeat="value in store" value="{{value.id}}">{{value.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Location</label>
                            <input type="text" class="form-control" ng-model="appliance.location" placeholder="Location">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Purchase Price</label>
                            <input type="text" class="form-control" ng-model="appliance.purchaseprice" placeholder="Purchase Price">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Status</label>
                            <div>
                                <select ng-model="appliance.status">
                                    <option value="" selected>Select Status</option>
                                    <!--                                    <option ng-repeat="value in brand" value="{{value.id}}">{{value.name}}</option>-->
                                    <option value="archive">Archive</option>
                                    <option value="delete">Delete</option>
                                    <option value="transfer">Transfer</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" ng-click="create(appliance)" class="btn btn-success btn-primary">Submit</button>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>