<div class="page">

    <div class="row" ng-show="pageview==1">
        <div class="col-md-9">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Appliance</strong>
                </div>
                <div class="panel-body">
                    <form name="form_constraints" class="form-validation" novalidate data-ng-submit="submitForm()">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name</label>
                            <input type="text" class="form-control" ng-model="appliance.name" placeholder="Name">
                            <input type="hidden" class="form-control" ng-model="appliance.id" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Model Number</label>
                            <input type="text" class="form-control" ng-model="appliance.modelnumber" placeholder="Model Number">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Serial Number</label>
                            <input type="text" class="form-control" ng-model="appliance.serialnumber" placeholder="Serial Number">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Appliance Type</label>
                            <div>
                                <select class="form-control" ng-model="appliance.appliancetype" ng-options="value.id as value.name for value in appliancetype">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Brand</label>
                            <div>
                                <select class="form-control" ng-model="appliance.brand" ng-options="value.id as value.name for value in userlocation">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Image</label>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4" ng-repeat="bill in appliance.billimage">
                                <img style="width:200px;height:190px;" src="http://localhost/applionbackendbyavi/uploads/{{bill}}">
                                <input type="button" ng-click="removeimage(appliance.billimage.indexOf(bill));" value="DELETE" class="bt btn-danger">
                            </div>
                        </div>
                        <div class="upload-div">
                            <div ng-init="httpMethod = 'POST';howToSend = 1;"></div>
                            <div class="upload-buttons">
                                <input type="file" ng-file-select="onFileSelect($files,1)" onclick="this.value=null" multiple>
                            </div>

                            <div class="response" ng-show="uploadResult.length > 0">
                                <span ng-repeat="result in uploadResult">
                                        <div ng-init="">
                                        {{result}}
                                        </div>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">User</label>
                            <div>
                                <select class="form-control" ng-model="appliance.user" ng-options="value.id as value.name for value in user">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Store</label>
                            <div>
                                <select class="form-control" ng-model="appliance.store" ng-options="value.id as value.name for value in store">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Location</label>
                            <div>
                                <select class="form-control" ng-model="appliance.userlocation" ng-options="value.id as value.name for value in userlocation">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Purchase Price</label>
                            <input type="text" class="form-control" ng-model="appliance.purchaseprice" placeholder="Purchase Price">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Status</label>
                            <div>
                                <select ng-model="appliance.status" class="form-control">
                                    <option value="" selected>Select Status</option>
                                    <!--                                    <option ng-repeat="value in appliance" value="{{value.id}}">{{value.name}}</option>-->
                                    <option value="archive">Archive</option>
                                    <option value="delete">Delete</option>
                                    <option value="transfer">Transfer</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="text-center" style="padding-bottom:20px;">
                    <button type="submit" ng-click="update(appliance)" class="btn btn-primary">Update</button>
                </div>
            </section>
        </div>
        <div class="col-md-3">
            <div ng-include="'views/appliance/subnavigation.html'"></div>
        </div>

    </div>
    <div class="row" ng-show="pageview==2">
        <div class="col-md-9">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>Component Warranty</strong>

                </div>

                <div class="panel-body">
                    <!--                        {{appliance.componentwarranty}}-->
                    <a ng-click="addcomponentwarranty();" class="btn btn-success">Add</a>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>Component</td>
                                <td>Serial</td>
                                <td>Warranty Period</td>
                                <td>Bill</td>
                                <td>Warranty Card</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="componentwarranty in appliance.componentwarranty">
                                <td>
                                    <input type="text" ng-model="componentwarranty.component" class="form-control">
                                </td>
                                <td>
                                    <input type="text" ng-model="componentwarranty.serial" class="form-control">
                                </td>
                                <td>
                                    <input type="text" ng-model="componentwarranty.warrantyperiod" class="form-control">
                                </td>
                                <td>
                                    <img style="height:250px; width:250px;" src="http://localhost/applionbackendbyavi/uploads/{{componentwarranty.bill}}">
                                    <div class="upload-div">
                                        <div ng-init="httpMethod = 'POST';howToSend = 1;"></div>
                                        <div class="upload-buttons">
                                            <input type="file" ng-file-select="onFileSelect($files,3,appliance.componentwarranty.indexOf(componentwarranty))" onclick="this.value=null">
                                        </div>
                                        <div class="err" ng-show="errorMsg != null">{{errorMsg}}</div>

                                        <div class="response" ng-show="uploadResult.length > 0">
                                            <span ng-repeat="result in uploadResult">
                                        <div ng-init="">
                                        </div>
                                        </div>
                                    </div>
 
                                </td>
                                <td>
                                    <img style="height:250px; width:250px;" src="http://localhost/applionbackendbyavi/uploads/{{componentwarranty.warrantycard}}">
                                    <div class="upload-div">
                                        <div ng-init="httpMethod = 'POST';howToSend = 1;"></div>
                                        <div class="upload-buttons">
                                            <input type="file" ng-file-select="onFileSelect($files,4,appliance.componentwarranty.indexOf(componentwarranty))" onclick="this.value=null">
                                        </div>
                                        <div class="err" ng-show="errorMsg != null">{{errorMsg}}</div>

                                        <div class="response" ng-show="uploadResult.length > 0">
                                            <span ng-repeat="result in uploadResult">
                                        <div ng-init="">
                                        </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <input type="button" ng-click="removecomponentwarranty(appliance.componentwarranty.indexOf(componentwarranty));" value="DELETE">
                                </td>
                                <!--                                <td><a ng-click="removelocation($index);" class="btn btn-danger">Delete</a></td>-->
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center" style="padding-bottom:20px;">
                    <button type="submit" ng-click="update(appliance)" class="btn btn-primary">Update</button>
                </div>
            </section>
        </div>
        <div class="col-md-3">
            <div ng-include="'views/appliance/subnavigation.html'"></div>
        </div>
    </div>
    <div class="row" ng-show="pageview==3">
        <div class="col-md-9">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>Warranty</strong>

                                        </div>

                                        <div class="panel-body">
                                            {{appliance.warranty}}
                                            <div class="form-group">
                                                <a ng-click="addwarranty();" class="btn btn-success">Add</a>
                                            </div>
                                            <div class="col-md-12" style="margin-top:10px;" ng-repeat="warranty in appliance.warranty">
                                                <h3>New Warranty</h3>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Period</label>
                                                    <input type="text" ng-model="warranty.period" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Type</label>
                                                    <div>
                                                        <select ng-model="warranty.type" class="form-control">
                                                            <option value="">Select Type</option>
                                                            <option value="onsite">Onsite</option>
                                                            <option value="offsite">Offsite</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">

                                                    <label for="exampleInputEmail1">Expiry</label>
                                                    <input type="date" ng-model="warranty.expiry" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Is Covered</label>
                                                    <div>
                                                        <select ng-model="warranty.iscovered" class="form-control">
                                                            <option value="">Select Is Covered</option>
                                                            <option value="Yes">Yes</option>
                                                            <option value="No">No</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Is Warranty or AMC</label>
                                                    <div>
                                                        <select ng-model="warranty.iswarrentyoramc" class="form-control">
                                                            <option value="">Select Is Warranty Or AMC</option>
                                                            <option value="warranty">Warranty</option>
                                                            <option value="amc">AMC</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Image</label>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="col-md-4" ng-repeat="bill in warranty.images">
                                                        <img style="width:200px;height:190px;" src="http://localhost/applionbackendbyavi/uploads/{{bill}}">
                                                        <input type="button" ng-click="removewarimage(warranty,warranty.images.indexOf(bill));" value="DELETE" class="bt btn-danger">
                                                    </div>
                                                </div>
                                                <div class="upload-div">
                                                    <div ng-init="httpMethod = 'POST';howToSend = 1;"></div>
                                                    <div class="upload-buttons">
                                                        <input type="file" ng-file-select="onFileSelect($files,2,appliance.warranty.indexOf(warranty))" onclick="this.value=null" multiple>
                                                    </div>
                                                    <!--
                                        <div ng-show="dropSupported" class="drop-box" ng-file-drop="onFileSelect($files)" ng-file-drop-available="dropSupported=true" ng-file-drag-over-class="dragOverClass($event)" ng-file-drag-over-delay="100" style="height:250px;">Drop Files Here
                                            <center>
                                                <div ng-show="selectedFiles != null">
                                                    <div class="sel-file center" ng-repeat="f in selectedFiles">
                                                        <div ng-show="$last">
                                                            <img ng-show="dataUrls[$index]" ng-src="{{dataUrls[$index]}}" width="240px">
                                                        </div>
                                                    </div>
                                                </div>
                                            </center>
                                        </div>
-->
                                                    <!--                                        <div ng-show="!dropSupported">HTML5 Drop File is not supported on this browser</div>-->
                                                    <div class="err" ng-show="errorMsg != null">{{errorMsg}}</div>

                                                    <div class="response" ng-show="uploadResult.length > 0">
                                                        <span ng-repeat="result in uploadResult">
                                        <div ng-init="">
<!--                                        <input type="text" ng-model="location.icon=result" class="form-control">-->
                                        </div>
<!--
                                </span>
                                                        <input type="text" ng-model="location.icon=uploadResult[uploadResult.length-1]" class="form-control"> -->
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Purchase Date</label>
                                                    <input type="date" ng-model="warranty.purchasedate" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Bill No.</label>
                                                    <input type="text" ng-model="warranty.billno" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Includes</label>
                                                    <div>
                                                        <select ng-model="warranty.includes" class="form-control">
                                                            <option value="">Select Includes</option>
                                                            <option value="visit free">Visit Free</option>
                                                            <option value="service">Service</option>
                                                            <option value="parts">Parts</option>
                                                            <option value="other">Other</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <input type="button" ng-click="removewarranty(appliance.warranty.indexOf(warranty));" value="DELETE" class="bt btn-danger">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center" style="padding-bottom:20px;">
                                            <button type="submit" ng-click="update(appliance)" class="btn btn-primary">Update</button>
                                        </div>
            </section>
            </div>
            <div class="col-md-3">
                <div ng-include="'views/appliance/subnavigation.html'"></div>
            </div>
            </div>
        </div>