<div class="page">
    <div class="row">
        <div class="col-md-8">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Brand</strong>
                </div>

                <div class="panel-body">
                    <div class="msg"> </div>
                    <form name="form_constraints" class="form-validation" novalidate data-ng-submit="submitForm()">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name</label>
                            <input type="text" class="form-control" ng-model="brand.name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Abbreviation</label>
                            <input type="text" class="form-control" ng-model="brand.abbreviation" placeholder="Abbreviation">
                        </div>
                        <div class="form-group">
                            <label>Appliance Type</label>
                            <select ng-model="brand.appliancetype" class="form-control" multiple>
                                <option ng-repeat="value in appliancetype" value="{{value.id}}">{{value.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Image</label>
                            <div>
                                <img style="height:250px; width:250px;" src="{{brand.image | uploadpath}}">
                            </div>
                        </div>
                        <div class="upload-div">
                            <div ng-init="httpMethod = 'POST';howToSend = 1;"></div>
                            <div class="upload-buttons">
                                <input type="file" ng-file-select="onFileSelect($files)" onclick="this.value=null">
                            </div>

                            <div class="response" ng-show="uploadResult.length > 0">
                                <span ng-repeat="result in uploadResult">
                                        <div ng-init="">
                                        {{result}}
                                        </div>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Status</label>
                            <div>
                                <select ng-model="brand.status">
                                    <option value="" selected>Select Status</option>
                                    <option value="IsPublished for User">IsPublished for User</option>
                                    <option value="Not Published for User">Not Published for User</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" ng-click="create(brand)" class="btn btn-success btn-primary">Submit</button>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>